<div class="popup" id="popup-1">
    <div class="popup__container">
        <div class="popup__header">
            <div class="popup__close">
                {% include './svg-icons/close-button.svg' %}
            </div>
        </div>
        <div class="popup__image" style="background-image: url(./img/img1.jpg);"></div>
        <div class="popup__content">
            <p class="popup__subtitle subtitle">Design</p>
            <h3 class="popup__title title">Lorem ipsum dolor sit amet</h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at tortor dui. Integer
                purus justo, volutpat sit amet nisl vitae, tempus ullamcorper magna. Cras eleifend sem non pretium
                rutrum. Donec convallis hendrerit velit, id rhoncus eros consectetur non.</p>
            <h4 class="popup__title popup__title--small title">Features</h4>
            <div>
                <span class="popup__text popup__text--mute">Responsive Design</span>
                <span class="popup__text popup__text--mute">Bootstrap v4 Framework</span>
                <span class="popup__text popup__text--mute">W3C Valid HTML Code</span>
                <span class="popup__text popup__text--mute">3 HTML Styles</span>
            </div>
            <a href="#" class="popup__link link">Demo</a>
            <nav class="popup__nav nav">
                <span class="nav__link">
                    {% include './svg-icons/html5.svg' %}
                </span>
                <span class="nav__link">
                    {% include './svg-icons/css-3.svg' %}
                </span>
                <span class="nav__link">
                    {% include './svg-icons/phone.svg' %}
                </span>
                <span class="nav__link">
                    {% include './svg-icons/bootstrap.svg' %}
                </span>
            </nav>
        </div>
    </div>
</div>

<div class="popup" id="popup-2">
    <div class="popup__container">
        <div class="popup__header">
            <div class="popup__close">
                {% include './svg-icons/close-button.svg' %}
            </div>
        </div>
        <div class="popup__image" style="background-image: url(./img/img2.jpg);"></div>
        <div class="popup__content">
            <p class="popup__subtitle subtitle">Development</p>
            <h3 class="popup__title title">Lorem ipsum dolor sit amet</h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at tortor dui. Integer
                purus justo, volutpat sit amet nisl vitae, tempus ullamcorper magna. Cras eleifend sem non pretium
                rutrum. Donec convallis hendrerit velit, id rhoncus eros consectetur non.</p>
            <h4 class="popup__title popup__title--small title">Features</h4>
            <div>
                <span class="popup__text popup__text--mute">Responsive Design</span>
                <span class="popup__text popup__text--mute">Bootstrap v4 Framework</span>
                <span class="popup__text popup__text--mute">W3C Valid HTML Code</span>
                <span class="popup__text popup__text--mute">3 HTML Styles</span>
            </div>
            <a href="#" class="popup__link link">Demo</a>
            <nav class="popup__nav nav">
                <span class="nav__link">
                    {% include './svg-icons/html5.svg' %}
                </span>
                <span class="nav__link">
                    {% include './svg-icons/css-3.svg' %}
                </span>
                <span class="nav__link">
                    {% include './svg-icons/phone.svg' %}
                </span>
                <span class="nav__link">
                    {% include './svg-icons/bootstrap.svg' %}
                </span>
            </nav>
        </div>
    </div>
</div>