<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio-Velo</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Karla&family=Oswald:wght@700&family=Poppins:wght@200;300;500;600&family=Syncopate&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>

<body>

    {% include './twig-partials/header.html' %}

    {% include './twig-partials/starter.html' %}

    {% include './twig-partials/about.html' %}

    {% include './twig-partials/services.html' %}

    {% include './twig-partials/portfolio.html' %}

    {% include './twig-partials/contacts.html' %}

    <script type="text/javascript" src="main.js"></script>
</body>

</html>