.about {
    background-color: #131313;
    padding: 80px 0;
    margin-top: 200px;
}
.about__container {
    width: 100%;
    max-width: 1320px;
}
.about__row {
    justify-content: space-between;
    align-items: center;
}
.about__column {
    width: 100%;
    max-width: 360px;
    position: relative;
}
.about__image {
    position: absolute;
    bottom: -180px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.about__title {
    margin-bottom: 40px;
}
.about__subtitle {
    margin-bottom: 30px;
}
.about__link {
    margin-top: 20px;
}

@media (max-width:575.98px) {
    .about {
        margin: 0;
    }
    .about__row {
        flex-direction: column;
    }
    .about__image {
        position: relative;
        top: 0;
        left: 0;
    }
    .about__title {
        font-size: 50px;
        margin-top: 30px;
    }
}
@media (min-width:576px) and (max-width:767.98px) {
    .about {
        margin: 0;
    }
    .about__row {
        flex-direction: column;
    }
    .about__image {
        position: relative;
        top: 0;
        left: 0;
    }
    .about__title {
        font-size: 50px;
        margin-top: 30px;
    }
}
@media (min-width:768px) and (max-width:991.98px) {
    .about {
        margin: 0;
    }
    .about__row {
        flex-direction: column;
    }
    .about__column {
        max-width: 100%;
    }
    .about__image {
        max-height: 300px;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
    .about__title {
        font-size: 50px;
        margin-top: 30px;
    }
}
@media (min-width:992px) and (max-width:1199.98px) {
    //
}
@media (min-width:1200px) and (max-width:1380px) {
    //
}