.about {
    background-color: #131313;
    padding: 80px 0;
    margin-top: 200px;
    &__container {
        width: 100%;
        max-width: 1320px;
    }
    &__row {
        justify-content: space-between;
        align-items: center;
    }
    &__column {
        width: 100%;
        max-width: 360px;
        position: relative;
    }
    &__image {
        position: absolute;
        bottom: -180px;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0,0,0,0.3);
    }
    &__title {
        margin-bottom: 40px;
    }
    &__subtitle {
        margin-bottom: 30px;
    }
    &__link {
        margin-top: 20px;
    }
}


@media (max-width:575.98px) {
    //
}
@media (min-width:576px) and (max-width:767.98px) {
    //
}
@media (min-width:768px) and (max-width:991.98px) {
    //
}
@media (min-width:992px) and (max-width:1199.98px) {
    //
}
@media (min-width:1200px) and (max-width:1380px) {
    //
}