.services {
    height: 100vh;
}
.services__container {
    width: 100%;
}
.services__row {
    justify-content: space-between;
}
.services__column {
}

@media (max-width:575.98px) {
    //
}
@media (min-width:576px) and (max-width:767.98px) {
    //
}
@media (min-width:768px) and (max-width:991.98px) {
    //
}
@media (min-width:992px) and (max-width:1199.98px) {
    //
}
@media (min-width:1200px) and (max-width:1380px) {
    //
}