.services {
    background-color: #131313;

    &__container {
        display              : grid;
        grid-gap             : 60px;
        grid-template-columns: .8fr 1fr 1fr;
        grid-template-rows   : 1fr;
        grid-template-areas  : "col-1 col-2 col-3";
        padding              : 80px 20px;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__link {
        display   : flex;
        margin-top: 20px;
    }

    &__col:nth-child(1) {
        grid-area: col-1;
    }

    &__col:nth-child(2) {
        grid-area: col-2;
    }

    &__col:nth-child(3) {
        grid-area: col-3;
    }

    &__card {
        // background-color: #222;
        border-radius: 15px;
        max-width    : 600px;
    }

    &__card--silver {
        background: linear-gradient(to top left, #1f1f22, #6e7176);
    }

    &__card--gold {
        background: linear-gradient(to top left, #1f1f22, #cdac98);
    }

    &__card:not(:last-child) {
        margin-bottom: 60px;
    }
}

// phone
@media (max-width:575.98px) {
    .services {
        &__container {
            grid-gap             : 30px;
            grid-template-columns: 1fr;
            grid-template-rows   : auto;
            grid-template-areas  : "col-1""col-2""col-3";
        }

        &__card:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

// reverse phone
@media (min-width:576px) and (max-width:767.98px) {
    .services {
        &__container {
            grid-gap             : 40px;
            grid-template-columns: 1fr;
            grid-template-rows   : auto;
            grid-template-areas  : "col-1""col-2""col-3";
        }

        &__card:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

// tablet
@media (min-width:768px) and (max-width:991.98px) {
    .services {
        &__container {
            grid-gap             : 40px;
            grid-template-columns: 1fr;
            grid-template-rows   : auto;
            grid-template-areas  : "col-1""col-2""col-3";
        }

        &__card:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

// middle
@media (min-width:992px) and (max-width:1199.98px) {
    .services {
        &__container {
            grid-gap             : 40px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows   : auto 1fr;
            grid-template-areas  : "col-1 col-1""col-2 col-3";
        }

        &__card:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

// large
@media (min-width:1200px) and (max-width:1420px) {
    .services {
        &__container {
            grid-gap             : 30px;
            grid-template-columns: .7fr 1fr 1fr;
        }

        &__card:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}